
# KDE folder settings
.directory

/logs/

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin

# Ignore intelliJ project files
.idea/*
# Exclusions
!.idea/codeStyles/
!.idea/copyright/
!.idea/inspectionProfiles/
!.idea/scopes/
!.idea/icon.svg
!.idea/.name


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# java keystores
*.jks
